@charset "utf-8";

html {
  font-size: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: blueviolet;
}

h1 {
  text-align: center;
}

#msg {
  border: solid 2px white;
  border-radius: 0.3em;
  padding: 1em;
  color: white;
}

#msgBtn {
  border: solid 2px white;
  border-radius: 0.3em;
  text-align:  center;
  padding: 0.3em;
}

#msgBody {
  overflow: hidden;
  height: 30px;
  opacity: 0.2;
  transition: 0.8s;
}

.open {
  overflow-y: scroll !important;
  height: 400px !important;
  opacity: 1 !important;
}